DEBUG=True
SECRET_KEY=django-insecure-cambia-esta-clave
ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=gestor_tutorias_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_HOST=db
POSTGRES_PORT=5432