# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Variables de entorno
.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Python tooling
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/